@page
@model DriveYOU_WebClient.Pages.AccountModel

<div class="container" style="padding-top:30px; position:relative;">
    <div class="card">
        @if (Model.UserModel != null)
        {
            int age = DateTime.UtcNow.Year - Model.UserModel.Date.Year;
            if (DateTime.UtcNow.DayOfYear < Model.UserModel.Date.DayOfYear)
            {
                age++;
            }
            <div class="d-flex mr-5 m-sm-4 m-4" style="justify-content:stretch; align-items:center; vertical-align:central;">
                <img src="data:image/png;base64, @Model.UserModel.Photo" class="img-fluid" style="border-radius: 50%; height:200px; width:200px; max-height:200px; max-width:200px;" />
                <div class="flex-column ml-5">
                    <h3 class="font-weight-bold">@String.Format("{0} {1}", Model.UserModel.Name, Model.UserModel.Surname)</h3>
                    <h6 class="card-text">@String.Format("Age: {0}", age)</h6>
                </div>
            </div>
            <div class="d-flex flex-row justify-content-around text-center">
                <div class="d-flex flex-column">
                    <h4>@String.Format("★ {0}", Model.UserModel.Rating)</h4>
                    <p class="text-muted">rating</p>
                </div>
                <div class="d-flex flex-column">
                    <h4>@String.Format("{0}", Model.UserModel.UserReviews.Count)</h4>
                    <p class="text-muted">reviews</p>
                </div>
                <div class="d-flex flex-column">
                    <h4>@String.Format("{0}", Model.EndedTripsCount)</h4>
                    <p class="text-muted">trips</p>
                </div>
            </div>
            
            <div class="d-flex flex-row justify-content-around mt-5">
                <div class="d-flex flex-column">
                    <a href="tel: +@Model.UserModel.Number" class="text-center bg-primary text-white" style="border-radius:50%; height:50px; width:50px;">
                        <i class="fas fa-phone my-3"></i>
                    </a>
                    <p class="card-text">Phone</p>
                </div>
                <div class="d-flex flex-column">
                    <a href="mailto: +@Model.UserModel.Email" class="text-center bg-primary text-white" style="border-radius:50%; height:50px; width:50px;">
                        <i class="fas fa-envelope my-3"></i>
                    </a>
                    <p class="card-text">E-mail</p>
                </div>
            </div>
            <h3 class="font-weight-bold mt-5 mx-5" style="text-decoration:underline; text-decoration-color: #006eccff; text-decoration-thickness: 3px;">Reviews</h3>
            @if (Model.UserModel.UserReviews != null && Model.UserModel.UserReviews.Count > 0)
            {
                foreach (var item in Model.UserModel.UserReviews)
                {
                    <a asp-page="Account" asp-route-id="@item.UserID" class="d-flex mt-4 mx-5 text-black" style="min-width:251px;">
                        <img src="data:image/png;base64, @item.User.Photo" class="img-fluid" style="border-radius: 50%; height:75px; width:75px; max-height:75px; max-width:75px;" />
                        <div class="flex-column ml-3">
                            <h5 class="card-text">@String.Format("{0}, {1}", item.User.Name, item.User.Surname)</h5>
                            <h6 class="card-text">@String.Format("★ {0}", item.Assessment)</h6>
                            <h6 class="card-text">@item.Comment</h6>
                        </div>
                    </a>
                }
            }else
            {
                <p class="font-weight-bold text-muted text-center m-5">User has no reviews yet</p>
            }
            @if (Model.UserModel.CarImage != null)
            {
                <hr class="hr" />
                <h3 class="font-weight-bold mt-5 mx-5" style="text-decoration:underline; text-decoration-color: #006eccff; text-decoration-thickness: 3px;">Car</h3>
                <h6 class="card-text text-center mx-5">@String.Format("{0} {1}", Model.UserModel.CarMark, Model.UserModel.CarModel)</h6>
                <div class="text-center">
                    <img src="data:image/png;base64, @Model.UserModel.CarImage" class="shadow rounded mb-4" style="width: 70%; height:auto;" />
                </div>
            }
            else
            {
                <p class="font-weight-bold text-muted text-center m-5">User has no car</p>
            }
        }
    </div>
</div>

<div class="modal fade" id="ModalWindow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">@Model.ErrorModel.Caption</div>
            <div class="modal-footer">
                <p class="lead">@Model.ErrorModel.Message</p>
                <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
