@page "{handler?}"
@model DriveYOU_WebClient.Pages.TripsModel
@{
    ViewData["Title"] = "Trips";
}

<div class="container" style="padding-top:30px; position:relative;">
    @{
        if (Model.TripsWithUser.Count > 0 && Model.TripsWithUser != null)
        {
            foreach (var item in Model.TripsWithUser)
            {
                int seatsFree = 0;
                int age = DateTime.UtcNow.Year - item.Date.Year;
                if (DateTime.UtcNow.DayOfYear < item.Date.DayOfYear)
                {
                    age++;
                }
                if (item.ScheduledTrips != null && item.SubscribedOnTrips != null)
                {
                    seatsFree = item.ScheduledTrips.Seats - item.SubscribedOnTrips.Count;
                }
                else if (item.ScheduledTrips != null)
                {
                    seatsFree = item.ScheduledTrips.Seats;
                }
                <a asp-page="TripDetailed" asp-route-id="@item.ScheduledTrips.ID" class="card tripscard d-flex flex-lg-row flex-md-column m-4 text-black" style="position:relative;">
                    <div class="card-body">
                        <h5 class="card-title">@String.Format("{0:MMMM dd, H:mm:ss}", item.ScheduledTrips.Date)</h5>
                        <p class="lead text-muted">@String.Format("{0} - {1}", item.ScheduledTrips.From, item.ScheduledTrips.To)</p>
                        <p class="card-text">@String.Format("Свободных мест {0} из {1}", seatsFree, item.ScheduledTrips.Seats)</p>
                    </div>
                    <div class="d-flex flex-md-row flex-lg-column justify-content-between" style="min-width:128px;">
                        <div class="align-self-end mt-lg-4 ml-4 ml-lg-0">
                            <h5 class="card-title">@String.Format("{0} BYN", item.ScheduledTrips.Cost)</h5>
                        </div>
                        <div class="align-self-end mb-lg-4 mr-4 mr-lg-0">
                            @if (item.ScheduledTrips.IsSmoking == true)
                            {
                                <img src="/images/smokingicon.png" />
                            }
                            @if (item.ScheduledTrips.IsAnimals == true)
                            {
                                <img src="/images/dogicon.png" />
                            }
                            @if (item.ScheduledTrips.IsBagage == true)
                            {
                                <img src="/images/caseicon.png" />
                            }
                        </div>
                    </div>
                    <div class="vr mx-4 d-md-none d-sm-none d-lg-block" style="height: auto;"></div>
                    <div class="d-flex mr-5 m-sm-4 m-4" style="justify-content:stretch; align-items:center; vertical-align:central; min-width:251px;">
                        <img src="data:image/png;base64, @item.Photo" class="img-fluid" style="border-radius: 50%; height:75px; width:75px; max-height:75px; max-width:75px;" />
                        <div class="flex-column ml-2">
                            <h5 class="card-text">@String.Format("{0}, {1}", item.Name, age)</h5>
                            <p class="card-text">@String.Format("{0}, {1}", item.CarMark, item.CarModel)</p>
                        </div>
                    </div>
                </a>
            }
        }
        else
        {
            <h1 class="display-1 text-center m-auto">No elements</h1>
        }
    }
</div>

<div class="modal fade" id="ModalWindow" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Error</h5>
                <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">@Model.ErrorModel.Caption</div>
            <div class="modal-footer">
                <p class="lead">@Model.ErrorModel.Message</p>
                <button type="button" class="btn btn-primary" data-mdb-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>